# compiled source # 
*.pyc
.DS_Store
.DS_Store?
/.idea
/responses
OpenEIT/reconstruction/pyeit/responses
OpenEIT/reconstruction/pyeit/membraneplots
OpenEIT/reconstruction/pyeit/temp
/Videos
/Media
/CNN